# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Folders
*/lib/*
*/build/*
*/_RELEASE/*

*.user/Random/parser
/Random/parser
/SmallProjects/CMakeLists.txt.user
/VeeLib/CMakeLists.txt.user
/Random/rebusGen
/log.txt
/Random/sneakyBimap
