# Object files
*.o
*.ko
*.txt.user
*.txt.user.*
/build-numerical_calculus

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Folders
*/lib/*
*/build/*
*/_RELEASE/*

*.user/Random/parser
/Random/parser
/SmallProjects/CMakeLists.txt.user
/VeeLib/CMakeLists.txt.user
/Random/rebusGen
/log.txt
/Random/sneakyBimap
/Random/unitTests
/Random/testInput
/Random/testAST
/Random/testParserxd
/Random/testManager
/SmallProjects/CMakeLists.txt.user.3.2-pre1
/VeeLib/CMakeLists.txt.user.3.2-pre1
/Random/fastFuncTests
/ASM/testAsm4
/SmallProjects/CMakeLists.txt.user.16
/VeeLib/CMakeLists.txt.user.16
/ASM/log.txt
